{% extends 'blog/base.html' %}

{% block css %}
<style>
    .content{
        float:right;
        padding:2% 2% 2% 2%;
        margin:15% 3% 5% 5%;
        background-color:rgba(102,175,218,255);
        color:white;
    }
</style>

{% endblock %}


{% block body %}
{% load static %}
<img src="{% static 'blog/about.jpg' %}" class="img-thumbnail" alt="No Image">
</div>
<div class="content">
<h1> ABOUT US </h1>
<p>First of all I would like to welcome you to my About us Page. I am Glad you arrived at this page. This is my first Django Website which helps you to conect with industrial experts to get aware about your the job prospects and the comapny's behaviour towards their employee.</p>
</div>


{% endblock %}