{% extends 'blog/base.html' %}

{% block css %}
<style>
    .content{
        margin: 20%;
        background-color:#d2d2d2;
        color:black;
    }
</style>

{% endblock %}


{% block body %}
{% load static %}
<!-- <img src="{% static 'blog/about.jpg' %}" class="img-thumbnail" alt="No Image"> -->
</div>
<div class="content">
<h1> ABOUT US </h1>
<p>This Website helps you to connect with industrial experts to get aware about the job prospects and the company's behaviour towards their employee.</p>
</div>


{% endblock %}