{% extends 'blog/base.html' %}

{% block css %}
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.0/classic/ckeditor.js"></script>   

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');


.container{
        margin: auto;
        width: 50%;
        height: 50%;
        border: 3px solid black;
        padding: 10px;
        border-radius:30px;
}
.mar {
    margin:auto;
}

</style>
{% endblock %}


{% block body %}

<div class="form-body bt container mt-4">
    <div class="row">
        <div class="form-holder ">
            <div class="form-content ">
                <div class="form-items ">
                    <h3>POST A BLOG</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" method="post" action="postblog">

                        <div class="col-md-12 mar">
                            
                           <input class="form-control" type="text" name="company_name" id="company_name"  required>
                           <label>Company Name</label>
                        </div>

                        <div class="col-md-12 mar">
                            
                            <input class="form-control" type="text" name="work_ex" id="work_ex"  required>
                            <label>Years of Experience</label>
                        </div>

                        <div class="col-md-12 mar">
                            
                            <input class="form-control" type="text" name="job_profile" id="job_profile"  required>
                            <label>Job Profile</label>
                        </div>

                        <div class="col-md-12 mar">
                            <select class="form-select mt-3" name="offer_type" id="offer_type" required>
                                  <option selected disabled value="">Offer Type</option>
                                  <option value="Winter Internship">Winter Internship</option>
                                  <option value="Summer Internship">Summer Internship</option>
                                  <option value="Job">Job</option>
                                  <option value="Job + Internship">Job  + Internship</option>
                           </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                       </div>

                       <div class="mt-4 mar">
                        <textarea name="experience" id="experience">Enter your content Here</textarea>
                        <script>
                                ClassicEditor
                                        .create( document.querySelector( '#experience' ) )
                                        .then( editor => {
                                                console.log( editor );
                                        } )
                                        .catch( error => {
                                                console.error( error );
                                        } );
                        </script>
                    </div>
                        <div class="form-button mt-1 mar" align="center">
                            <button id="submit" type="submit" class="btn btn-success">Post Blog</button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


