{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interview Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.0/classic/ckeditor.js"></script>

    <style>
      .content {
        margin: auto;
        width: 50%;
        height: 50%;
        border: 3px solid black;
        padding: 10px;
      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        height: 25%
      }
      .ablg {
        margin: auto;
        width: 50%;
        height: 50%;
        border: 3px solid black;
        padding: 10px;
        border-radius: 20px;
      }
      .container {
        white-space:wrap;
        text-align:justify;
      }
      .bg {

        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

      }
    </style>
    {% block css %} {% endblock %}

  </head>
  <body style="background-color:rgb(164, 164, 164);">
    {% for message in messages %}
     {%if "hello" in message.tags %}
          <p class="messages alert alert-success" style="text-align: center;">  {{message}} </p> 
     {% endif %}
{% endfor %}
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Interview Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" >
              <a class="nav-link" href="/home">Explore</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item" >
                <a class="nav-link" href="/addblog">Add A Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myblogs">My Blogs</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Blogs</a>
              </li> -->
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'abts' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact Us</a>
            </li>
          </ul>
          <form method="get" action="/search" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  You are Logged in as {{request.user}}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/saved">Saved Blogs</a></li>
                  </li>
                  <li><a class="dropdown-item" href="/profile/{{request.user}}">Profile</a></li>
                </li>
                <li><a class="dropdown-item" href="/cpass/{{request.user}}">Change Password</a></li>
                </li>
                  </li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </li>
          </ul>
            {% else %}
            <li class="nav-item">
              <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#login">
                Login
              </button>
              <!-- <a method="post" href="/forgotpass">Forgot Pass</a> -->
            </li>
          {% endif %}
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- Login Modal -->

<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" align="CENTER">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action='/login' method="post">
      <div class="login">
          <div class="content">
            <p>
              <label for="exampleFormControlInput1" class="form-label">Username</label>
              <input type="text" class="form-control" name="loginusername" id="UsernameLogin" placeholder="exampleusername" required>
            </p>

            <p>
              <label for="exampleFormControlTextarea1" class="form-label">Password</label>
              <input type="password" class="form-control" name="loginpass" id="PassLogin" rows="1" required></input>
            </p>
          </div>
        </div>
        {% csrf_token %}
        <div class="login-footer text-center my-4">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="login-footer text-center my-4">
          <a href="/forgotpass" type="button">Forgot Password</a>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" align="CENTER">Sign Up</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action='/signup' method="post" enctype="multipart/form-data">
      <div class="signup">
          <div class="content">

            <p>
              <label for="exampleFormControlInput1" class="form-label">Username</label>
              <input type="text" class="form-control" name="username" id="username" >
            </p>

            <p>
              <label for="exampleFormControlInput1" class="form-label">Name</label>
              <input type="text" class="form-control" name="fname"  id="fname" required >
            </p>

            <p>
              <label for="exampleFormControlInput1" class="form-label">Surname</label>
              <input type="text" class="form-control" name="lname" id="lname" required>
            </p>

            <p>
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
            </p>

            <p>
              <label for="exampleFormControlTextarea1" class="form-label">Password</label>
              <input type="password" class="form-control" name="pass1" id="pass1" rows="1" required></input>
            </p>

            <p>
              <label for="exampleFormControlTextarea1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" name="pass2" id="pass2" rows="1" required></input>
            </p>
            <p>
              <label for="exampleFormControlTextarea1" class="form-label">Upload a Profile Photo</label>
              <input type="file" accept="image/*" name="profile" id="profile"/>
            </p>
          </div>
        </div>
        {% csrf_token %}
        <div class="login-footer text-center my-4">
          <button type="submit" class="btn btn-primary">Sign Up</button>  <!-- Type = Submit creates a submit button 
        </div>
      </form>



    </div>
  </div>
</div> -->

<!-- <img class="bg" src="{% static 'blog/homepage.jpg' %}"> -->
    {% block body %}
      
    {% endblock %}
  </body>
</html>