{% extends 'blog/base.html' %}

{% block css %}
<style>
    .x{
        background-color: #d2d2d2;
    }
    .form-label{
        margin-top: 1%;
        margin-bottom: 1%;
    }
</style>

{% endblock %}

{% block body %}

<h1 align="CENTER"> EDIT YOUR BLOG </h1>

<form method="POST" action="/edit" align="center">
    <div class="ablg x">
    <p>
        <label for="exampleFormControlInput1" class="form-label"><b>Company Name</b></label>
        <input type="text" class="form-control" name="company_name"  id="company_name" value="{{post.company_name}}"required >
    </p>
    <p>
        <label for="exampleFormControlInput1" class="form-label"><b>Years of Work Experience</b></label>
        <input type="text" class="form-control" name="work_ex"  id="work_ex" value="{{post.work_ex}}" required >
    </p>
    <p>
        <label for="exampleFormControlInput1" class="form-label"><b>Job Profile</b></label>
        <input type="text" class="form-control" name="job_profile"  id="job_profile" value="{{post.job_profile}}" required >
    </p>
    <p>
        <textarea name="experience" id="experience" required>{{post.experience}}</textarea>
        <script>
                ClassicEditor
                        .create( document.querySelector( '#experience' ) )
                        .then( editor => {
                                console.log( editor );
                        } )
                        .catch( error => {
                                console.error( error );
                        } );
        </script>
    </p>
    <p>
        <label for="exampleFormControlInput1" class="form-label"><b>ID</b></label>
        <input type="text" class="form-control" name="id"  id="id" value="{{post.id}}" readonly>
    </p>

    <br>
    <button class="btn btn-success my-2">Save</button>
    </div>
    {% csrf_token %}

</form>

{% endblock %}