{% extends 'blog/base.html' %}

{% block css %}
<style>
.card-text{
  word-wrap:normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container{
  border:3x solid black;
  background-color: rgb(45, 44, 44);
  color: white;
}

.blog_my{
  border-radius: 30px;
}
</style>
{% endblock %}


{% block body %}

{% for i in bg %} 
<div class="container blog_my">
  <div class="col p-4 d-flex flex-column position-static mb-4 mt-4">
    <strong class="d-inline-block mb-2" style="color:lightblue">Blog By: <a href="profile/{{i.author}}">{{i.author}}</a></strong>
    <h3 class="mb-0">{{i.company_name}}</h3>
    <div class="mb-1 ">{{i.work_ex}} Years Work Experience</div>
    <div class="mb-1">Job Profile : <b>{{i.job_profile}} - {{i.offer_type}}</b></div>
    <p class="card-text mb-auto">{{i.experience|safe|truncatechars:100}}</p>
    <p style="text-align:right">Posted On - {{i.updated_at}}</p>
    <div>
      <a href="view/{{i.slug}}" role="button" class="btn btn-success my-4">Continue reading</a>
      {% if user.is_authenticated %}
      {% if request.user|stringformat:'s' == i.favourites|stringformat:'s' %}
      <a href="/save/{{i.id}}" role="button" class="btn btn-success my-4">Remove From Saved</a>
      {% else %}
      <a href="/save/{{i.id}}" role="button" class="btn btn-success my-4">Save</a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% endfor %}

{% if bg.has_previous %}
<a href="?page=1">&laquo First Page  </a>
<a href="?page={{bg.previous_page_number}} ">Previous</a>
{% endif %}

Page {{bg.number}} of {{bg.paginator.num_pages}}

{% if bg.has_next %}
<a href="?page={{bg.next_page_number}} ">Next   </a>
<a href="?page={{bg.paginator.num_pages}}">Last Page &raquo</a>
{% endif %}

{% endblock %}