{% extends 'blog/base.html' %}

{% block css %}
<style>
.card-text{
  word-wrap:normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container{
  border:3x solid black;
  background-color: #d2d2d2;
  color: black;
}
.blog_my{
  border-radius: 30px;
}
.cen{
  margin-right: 5px;
  margin-left: 5px;
}
</style>
{% endblock %}

{% block body %}

{% for i in bg %} 
<div class="container blog_my">
  <div class="col p-4 d-flex flex-column position-static mb-5 mt-4">
    <strong class="d-inline-block mb-2" style="color:rgb(84, 32, 2)">Blog By: <a href="profile/{{i.author}}">{{i.author}}</a></strong>
    <h3 class="mb-0">{{i.company_name}}</h3>
    <div class="mb-1"><b>Work Experience :</b> {{i.work_ex}} years</div>
    <div class="mb-1"><b>Job Profile :</b> {{i.job_profile}} - {{i.offer_type}}</div>
    <p class="card-text mb-auto">{{i.experience|safe|truncatechars:100}}</b></p>
    <p style="text-align:right">Last Updated - {{i.updated_at}}</p>
    <div>
      <a href="view/{{i.slug}}" role="button" class="btn btn-success my-4">Continue reading</a>
      {% if user.is_authenticated %}
      <a href="/save/{{i.id}}" role="button" class="btn btn-success my-4">Save</a>     <!-- Use save and remove from save option -->
      <a href="/editblog/{{i.slug}}" role="button" class="btn btn-success my-4">Edit</a>
      <a href="/delblog/{{i.slug}}" role="button" class="btn btn-success my-4">Delete</a>
      {% endif %}
    </div>
  </div>
</div>

{% endfor %}

<div style="text-align:center">
{% if bg.has_previous %}
<a href="?page=1" class="cen">&laquo First Page  </a>
<a href="?page={{bg.previous_page_number}} " class="cen">Previous</a>
{% endif %}

Page {{bg.number}} of {{bg.paginator.num_pages}}

{% if bg.has_next %}
<a href="?page={{bg.next_page_number}} " class="cen">Next   </a>
<a href="?page={{bg.paginator.num_pages}}" class="cen">Last Page &raquo</a>
{% endif %}
</div>

{% endblock %}