{% extends 'blog/base.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .gradient-custom {
background: #d2d2d2;

/* background: -webkit-linear-gradient(to right bottom, rgb(204, 232, 194),rgb(38, 92, 32));

background: linear-gradient(to right bottom, rgb(204, 232, 194),rgb(38, 92, 32)) */
}
.fa {
  padding: 15px;
  font-size: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.c{
  margin-top: 20%;
  color:black;
}
.b{
  color:black;
}
</style>

{% endblock %}

{% block body %}

<section class="vh-100" style="background-color: rgb(222, 250, 222);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white b"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="{{j.profile_pic}}" alt="..." class="img-fluid mb-2 c" style="width: 200px;" />
                <h5 class="b">{{j.fname}} {{j.lname}}</h5>
                <p class="b">{{j.degree}}</p>
                <form action="/search">
                  {% csrf_token %}
                  <input type="hidden" name="query" id="query" value="{{i.username}}">
                  <button type="submit" class="btn btn-success">View Blogs</button>
                </form>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{j.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Currently Working at</h6>
                      <p class="text-muted">{{j.currwork}}</p>
                    </div>
                  </div>
                  <h6>Education Qualifications</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Degree</h6>
                      <p class="text-muted">{{j.degree}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>College</h6>
                      <p class="text-muted">{{j.college}}</p>
                    </div>
                  </div>
                  <h6>Personal Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Gender</h6>
                      <p class="text-muted">{{j.gender}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Date of Birth</h6>
                      <p class="text-muted">{{j.dob}}</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    {% if j.fb_handle|stringformat:'s' != None|stringformat:'s' %}
                    <a href="{{j.fb_handle}}" _blank><i class="fa fa-facebook fa-lg me-3"></i></a>
                    {% endif %}
                    {% if j.fb_handle|stringformat:'s' != None|stringformat:'s' %}
                    <a href="{{j.insta_handle}}" _blank><i class="fa fa-instagram fa-lg me-3"></i></a>
                    {% endif %}
                    {% if j.fb_handle|stringformat:'s' != None|stringformat:'s' %}
                    <a href="{{j.twitter_handle}}" _blank><i class="fa fa-twitter fa-lg me-3"></i></a>
                    {% endif %}
                    {% if request.user|stringformat:'s' == i.username|stringformat:'s' %}
                    <a href="editprof/{{i.username}}" _blank>Edit Profile</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}